body{
    background-color: #E6ECFB;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
div{
    text-align: center;
    align-items: center;
}

.container, h3, .button-box{
    text-align: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}


.button-box{
    width: 250px;
    padding: 20px;
    background: white;
    border-radius: 12px;
    border: 1px solid white;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin: 10px auto;
}

.button-box:hover {
    background: #f0f0f0;  
}


.createAcc, .continue{
    text-decoration: none;
    color: black;
    cursor: pointer;
}